<body>
    <main>
        <div class="main_header">
            <h1>Gerador de cartão de visita</h1>
            <h3>Crie um cartão de visita gratuito</h3>
        </div>
        <form action="" [formGroup]="formField" (ngSubmit)="createCard()">

            <div class="form_assistant">

                <div class="form_data">

                    <h3>Dados pessoais</h3>

                    <div class="input_data">

                        <mat-form-field>

                            <mat-label>Nome:</mat-label>
                            <input type="text" name="name" id="name" placeholder="Ex:João da Silva" matInput formControlName="name">

                            <mat-error *ngIf="formField.get('name')?.invalid && formField.get('name')?.touched">
                                O nome é curto demais ou contém caracteres especiais.
                            </mat-error>

                        </mat-form-field>
                         
                        <mat-form-field>

                            <mat-label>Telefone:</mat-label>
                            <input type="number" name="phoneNumber" id="phoneNumber" matInput mask="00000000000"  placeholder="Ex: (00)00000-0000" formControlName="phoneNumber">

                            <mat-error *ngIf="formField.get('phoneNumber')?.invalid && formField.get('phoneNumber')?.touched">
                                Digite um número de telefone válido.
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field>

                            <mat-label>Email:</mat-label>
                            <input type="text" name="email" id="email" placeholder="Ex:jao@gmail.com" matInput formControlName="email">

                            <mat-error *ngIf="formField.get('email')?.invalid && formField.get('email')?.touched">
                                O email é inválido ou está incompleto.
                            </mat-error>

                        </mat-form-field>
            
                        <mat-form-field>

                            <mat-label>Idade:</mat-label>
                            <input type="number" name="age" id="age" matInput mask="00" formControlName="age">

                            <mat-error *ngIf="formField.get('age')?.invalid && formField.get('age')?.touched">
                                A idade é inválida.
                            </mat-error>

                        </mat-form-field>

                    </div>
                </div>

                <div class="form_data">

                    <h3>Endereço</h3>

                    <div class="input_data">

                        <mat-form-field>

                            <mat-label>CEP:</mat-label>
                            <input type="text" name="cep" id="cep" matInput mask="00000-000" formControlName="cep" (blur)="searchCep()">

                        </mat-form-field>

                        <mat-form-field>

                            <mat-label>Nome da rua:</mat-label>
                            <input type="text" name="streetName" id="streetName" matInput formControlName="streetName">

                            <mat-error *ngIf="formField.get('streetName')?.invalid && formField.get('streetName')?.touched">
                                O endereço é inválido ou está incompleto.
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field>

                            <mat-label>Número da casa:</mat-label>
                            <input type="text" name="addressNumber" id="addressNumber" matInput formControlName="addressNumber">

                            <mat-error *ngIf="formField.get('addressNumber')?.invalid && formField.get('addressNumber')?.touched">
                                O endereço é inválido ou está incompleto.
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field>

                            <mat-label>Bairro:</mat-label>
                            <input type="text" name="neighb" id="neighb" placeholder="Ex:Moinhos de Vento" matInput formControlName="neighb">

                            <mat-error *ngIf="formField.get('neighb')?.invalid && formField.get('neighb')?.touched">
                                O bairro é inválido ou está incompleto.
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field>

                            <mat-label>Cidade:</mat-label>
                            <input type="text" name="city" id="city" placeholder="Ex:Porto Alegre" matInput formControlName="city">

                            <mat-error *ngIf="formField.get('city')?.invalid && formField.get('city')?.touched">
                                A cidade é inválida ou está incompleta.
                            </mat-error>

                        </mat-form-field>

                        <mat-form-field>

                            <mat-label>UF:</mat-label>
                            <input type="text" name="uf" id="uf" placeholder="Ex:RS" matInput mask="AA" formControlName="uf">

                            <mat-error *ngIf="formField.get('uf')?.invalid && formField.get('uf')?.touched">
                                O endereço é inválido ou está incompleto.
                            </mat-error>

                        </mat-form-field>
                    </div>

                </div>
                <div class="form_button">
                    <button mat-flat-button color="primary" type="submit" [disabled]="formField.invalid">Gerar</button>
                    <button mat-stroked-button type="reset">Limpar</button>
                </div>
            </div>
        </form>
        
        <div class="modal" *ngIf="isModalOpen">

            <button (click)="closeModal()" class="button_close">X</button>
            <div class="card" >
                
                <div class="card_header">
                    <h4>{{ formData.name  }}</h4> 
                    <h4 *ngIf="formData.age">, {{ formData.age }} anos</h4>
                </div>

                <h5>{{ formData.email }}</h5>
                <h5>{{ formData.phoneNumber }}</h5>
                <h5>{{ formData.streetName }}, {{ formData.addressNumber }}, {{ formData.neighb }}, {{ formData.city }}, {{ formData.uf }}</h5>

            </div>
        </div>
        
    </main>
</body>
